<ion-view view-title="Dashboard">

  <ion-content class="padding">
    <section class="second">
    <div id="home" ng-controller="homeController" style="margin-left: 100px;">
    <div >
  <div id="light" class="white_content" style="height: 100%;">
      <button style="color: white"onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close
      </button style="border-radius: 30px 30px 30px 30px;">
      <div>
          <p style="color: black; left:90%;">
          <ul style=""> <h2 style="color: navy; font-size: 20px;">E-mail: support@Egyptair.com</h2></ul>
          <ul style=""> <h2 style="color: navy; font-size: 20px;">Hotline: (+02)2 635 7463</h2></ul>
          <ul style=""> <h2 style="color: navy; font-size: 20px;">facebook: facebook.com/e.air</h2></ul>
          </p>
      </div>
  </div>

  <div id="fade" class="black_overlay">
  </div>

  <div id="col1" class = "sidebar" style="rgba(0, 0, 0, 1);  position: relative;">

    <div style="padding-top: 10px;">
      <ul style="background : rgba(233, 221, 201, 0.6); border-radius: 15px 15px 15px 15px;" >
        <li class="x"><a href="#/tab/flights">View Flights</a></li>
        <li class="x"><a href="#/tab/trackflight">Track a Flight</a></li>
        <li class="x"><a href="#/tab/about">About US</a></li>
        <li class="x"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a></li>
        <li class="x"><a href="#/">Partners</a></li>
      </ul>
    </div>

  </div>



  



</div>
    </section>
  </ion-content>
</ion-view>